/***** Forms *****/
@mixin inputBackground($top:0px, $left:5px) {
    background-position: #{$left} #{$top};
}

/***** Inputs ****/
input[type="name"],
input[type="text"],
input[type="password"]                      { border: 1px solid #c8c8c8; color: #777; margin: 0 0 10px; padding: 7px 10px; background-color: #eae7e7; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; width: 60%; border-radius: 1px;}
input[type="submit"]                        { border: 1px solid #c8c8c8; padding: 7px 10px; border-radius: 1px;}

.icons input[type="name"],
.icons input[type="text"],
.icons input[type="password"]               { padding: 7px 10px 7px 40px; background: #eae7e7 url(../images/bg_forms.png) no-repeat;}
/***** Inputs:focus *****/
input[type="name"]:focus,
input[type="text"]:focus,
input[type="password"]:focus                { background-color: #fff; border: 1px solid #22b274; outline: 0;}

/***** Input Classes *****/

.icons input.name                           { @include inputBackground(4px)}
.icons input.name:focus                     { @include inputBackground(-24px)}

.icons input.password                       { @include inputBackground(-52px)}
.icons input.password:focus                 { @include inputBackground(-79px)}


/**** Labels *****/

label                                       { float: left; padding: 4px; width: 100%;}

/***** Errors *****/
form.error small                            { color: #ed1c24;}
