@charset "UTF-8";

/***** SASS Library *****/
@import "library.scss";

/***** Login *****/

.yocto-login                                    { margin: 100px auto; width: 400px; border: 1px solid #c4c6ca; padding: 10px; box-shadow: 0 0 3px 1px #888;}
.yocto-login h2                                 { margin-bottom: 5px; text-align: center; color: #22b274;}
.yocto-login label                              { width: 85px;}
.yocto-login label.remember_me                  { float: none;}
.yocto-login input[type="submit"]               { width: 100px; float: right; margin-right: 15px; cursor: pointer; font-weight: bold; @include button(#85592e, #f4da5e, #D69E31)}
.yocto-login input[type="submit"]:hover         { @include button(#fff,#ecba1d)}
