@charset "UTF-8";

/***** SASS Library *****/
@import "library.scss";

/***** Header Navigation *****/

ul.y-header             { background-color: #F6F6F6; padding: 10px; overflow: hidden;
    & li                { float: right; margin: 0px 5px;}
}
