/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/.sass-cache/*
/src/Yocto/Bundle/LayoutBundle/Resources/public/css/.sass-cache/*
