<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Yocto{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                'bundles/yoctolayoutbundle/css/*.css'
            %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                '@YoctoLayoutBundle/Resources/public/js/jquery-1.10.2.min.js'
                output='js/app.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
