@charset "UTF-8";
/***** SASS Library *****/
/***** Buttons *****/
.set-classic a.y-btn {
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  background-color: transparent;
  color: #7b7b7b;
  border: 1px solid;
  border-color: transparent;
  transition-duration: 150ms;
  transition-property: background-color, border-color, box-shadow; }
  .set-classic a.y-btn span.icon {
    display: inline-block;
    position: relative;
    top: 7px;
    left: -5px; }
  .set-classic a.y-btn:hover {
    background-color: rgba(3, 14, 27, 0.03);
    color: #7b7b7b;
    border: 1px solid;
    border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
    transition-duration: 150ms;
    transition-property: background-color, border-color, box-shadow; }
  .set-classic a.y-btn.y-btn-24 {
    padding: 7px 12px; }
    .set-classic a.y-btn.y-btn-24 span.icon {
      background: url(../images/iconset-classic-24x24.png) no-repeat 0px 0px;
      width: 24px;
      height: 24px; }
      .set-classic a.y-btn.y-btn-24 span.icon.user {
        background-position: -24px 0px; }
      .set-classic a.y-btn.y-btn-24 span.icon.addCustomer {
        background-position: -48px 0px; }
    .set-classic a.y-btn.y-btn-24:hover span.icon {
      background-position: 0px -24px; }
      .set-classic a.y-btn.y-btn-24:hover span.icon.user {
        background-position: -24px -24px; }
      .set-classic a.y-btn.y-btn-24:hover span.icon.addCustomer {
        background-position: -48px -24px; }
  .set-classic a.y-btn.y-btn-32 {
    display: block;
    margin-top: 5px; }
    .set-classic a.y-btn.y-btn-32 span.icon {
      display: block;
      top: 0px;
      left: 0px;
      margin: auto;
      background: url(../images/iconset-classic-32x32.png) no-repeat 0px 0px;
      width: 32px;
      height: 32px; }
      .set-classic a.y-btn.y-btn-32 span.icon.user {
        background-position: -32px 0px; }
      .set-classic a.y-btn.y-btn-32 span.icon.addCustomer {
        background-position: -64px 0px; }
    .set-classic a.y-btn.y-btn-32:hover span.icon {
      background-position: 0px -32px; }
      .set-classic a.y-btn.y-btn-32:hover span.icon.user {
        background-position: -32px -32px; }
      .set-classic a.y-btn.y-btn-32:hover span.icon.addCustomer {
        background-position: -64px -32px; }

.set-simple a.y-btn {
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  background-color: transparent;
  color: #7b7b7b;
  border: 1px solid;
  border-color: transparent;
  transition-duration: 150ms;
  transition-property: background-color, border-color, box-shadow; }
  .set-simple a.y-btn span.icon {
    display: inline-block;
    position: relative;
    top: 7px;
    left: -5px; }
  .set-simple a.y-btn:hover {
    background-color: rgba(3, 14, 27, 0.03);
    color: #22b274;
    border: 1px solid;
    border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
    transition-duration: 150ms;
    transition-property: background-color, border-color, box-shadow; }
  .set-simple a.y-btn.y-btn-24 {
    padding: 7px 12px; }
    .set-simple a.y-btn.y-btn-24 span.icon {
      background: url(../images/iconset-simple-24x24.png) no-repeat 0px 0px;
      width: 24px;
      height: 24px; }
      .set-simple a.y-btn.y-btn-24 span.icon.user {
        background-position: -24px 0px; }
      .set-simple a.y-btn.y-btn-24 span.icon.addCustomer {
        background-position: -48px 0px; }
    .set-simple a.y-btn.y-btn-24:hover span.icon {
      background-position: 0px -24px; }
      .set-simple a.y-btn.y-btn-24:hover span.icon.user {
        background-position: -24px -24px; }
      .set-simple a.y-btn.y-btn-24:hover span.icon.addCustomer {
        background-position: -48px -24px; }
  .set-simple a.y-btn.y-btn-32 {
    display: block;
    margin-top: 5px; }
    .set-simple a.y-btn.y-btn-32 span.icon {
      display: block;
      top: 0px;
      left: 0px;
      margin: auto;
      background: url(../images/iconset-simple-32x32.png) no-repeat 0px 0px;
      width: 32px;
      height: 32px; }
      .set-simple a.y-btn.y-btn-32 span.icon.user {
        background-position: -32px 0px; }
      .set-simple a.y-btn.y-btn-32 span.icon.addCustomer {
        background-position: -64px 0px; }
    .set-simple a.y-btn.y-btn-32:hover span.icon {
      background-position: 0px -32px; }
      .set-simple a.y-btn.y-btn-32:hover span.icon.user {
        background-position: -32px -32px; }
      .set-simple a.y-btn.y-btn-32:hover span.icon.addCustomer {
        background-position: -64px -32px; }
