/***** Login *****/
.yocto-login {
  margin: 100px auto;
  width: 400px;
  border: 1px solid #c4c6ca;
  padding: 10px;
  box-shadow: 0 0 3px 1px #888; }

.yocto-login h2 {
  margin-bottom: 5px;
  text-align: center;
  color: #22b274; }

.yocto-login label {
  width: 85px; }

.yocto-login label.remember_me {
  float: none; }

.yocto-login input[type="submit"] {
  width: 100px;
  float: right;
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
  background-color: #f4da5e;
  color: #85592e;
  border: 1px solid #d69e31;
  transition: color .25s linear, background-color .25s linear .1s;
  -webkit-transition: color .25s linear, background-color .25s linear .1s;
  -moz-transition: color .25s linear, background-color .25s linear .1s; }

.yocto-login input[type="submit"]:hover {
  background-color: #ecba1d;
  color: white;
  border: 1px solid #ecba1d;
  transition: color .25s linear, background-color .25s linear .1s;
  -webkit-transition: color .25s linear, background-color .25s linear .1s;
  -moz-transition: color .25s linear, background-color .25s linear .1s; }
