@charset "UTF-8";
/***** SASS Library *****/
/***** Header Navigation *****/
ul.y-header {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 10px 10px 10px;
  overflow: hidden; }
  ul.y-header li {
    float: right;
    margin: 0px 5px; }

ul.y-nav {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f1f1f1; }
  ul.y-nav li {
    border-right: 1px solid #e5e5e5;
    display: inline;
    padding: 1px 6px 2px; }
    ul.y-nav li a {
      text-decoration: none;
      color: #7b7b7b;
      font-weight: bold;
      font-size: 12px; }
      ul.y-nav li a:link,
      ul.y-nav li a :visited {
        color: #7b7b7b; }
  ul.y-nav li:hover, ul.y-nav li.selected {
    background: #fdfdfd;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f6f6f6));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f6f6f6 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #fdfdfd 0%, #f6f6f6 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 );
    /* IE6-8 */ }
  ul.y-nav li.selected a {
    color: #22B274; }
  ul.y-nav li.first {
    border-left: 1px solid #e5e5e5;
    margin-left: 10px; }

ul.y-iconPane {
  border-bottom: 1px solid #e5e5e5;
  background-color: #F6F6F6;
  position: relative;
  top: -1px;
  overflow: hidden;
  padding: 8px 5px; }
  ul.y-iconPane li {
    float: left;
    margin: 0 5px; }
