@charset "UTF-8";
/***** SASS Library *****/
/***** Header Navigation *****/
ul.y-header {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03); }
  ul.y-header li {
    float: right;
    margin: 0px 5px; }
