<ul class="y-header">
    <li><a class="y-btn y-btn-24" title="Logout" href="{{ path('_logout') }}"><span class="icon user"></span>Kris Rybak</a></li>
    <li><a class="y-btn y-btn-24" title="Settings"><span class="icon settings"></span>Settings</a></li>
</ul>
