<ul class="y-header">
    <li>
        <a class="y-btn y-btn-24" title="Logout" href="{{ path('_logout') }}">
            <i class="fa fa-sign-out fa-lg"></i>Kris Rybak
        </a>
    </li>
    <li>
        <a class="y-btn y-btn-24" title="Settings">
            <i class="fa fa-cogs fa-lg"></i>Settings
        </a>
    </li>
</ul>
