{% block menu %}
    <nav>
        {% include "YoctoLayoutBundle:Elements/Navigation:header.html.twig" %}
        {{ knp_menu_render('YoctoLayoutBundle:Builder:mainMenu') }}
        {% block menu_options %}{% endblock %}
    </nav>
{% endblock %}
{% block aside %}
{% endblock %}
