{% block menu %}
    <nav>
        <ul>
            <li>Dashboard</li>
        </ul>
    </nav>
{% endblock %}
{% block aside %}
{{ knp_menu_render('YoctoLayoutBundle:Builder:mainMenu') }}
{% endblock %}
